[Unit]
Description=Grow Worker
Wants=grow-worker.timer

[Service]
WorkingDirectory=/var/grow-python
ExecStart=/var/grow-python/worker.py /var/lib/grow-monitor/settings.yml

[Install]
WantedBy=multi-user.target
