[Unit]
Description=Grow Worker
Wants=grow-worker.timer

[Service]
WorkingDirectory=/var/grow-python/grow_device
ExecStart=/var/grow-python/grow_device/worker.py http://{{ admin_host }}/api/grow-units?host={{ unit_host }}

[Install]
WantedBy=multi-user.target
